@media only screen and (max-width: 992px) {
 .formButton {
  width: 45% !important;
 }

 #formBox {
  width: 85% !important;
 }
}

* {
  font-family: "Wix Madefor Text", sans-serif !important;
  font-weight: 700 !important;
}

html,
body {
  height: 100%; /* Set height for html and body */
}

body {
  background-color: #3c4b33 !important;
}

.container {
  color: #e9c770 !important;
}

.navbar {
  --bs-navbar-color: #daa41b !important;
  --bs-navbar-active-color: #e9c770 !important;
  --bs-navbar-hover-color: #e9c770 !important;
  --bs-navbar-toggler-border-color: #e9c770 !important;
  background-color: #2c3d23;
  font-weight: 600;
}

.navbar-toggler {
  background-color: #e9c770 !important;
}

.navbar-brand {
  color: #e9c770 !important;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93%;
  width: 100%;
  color: #e9c770;
  font-size: larger;
}

#formBox {
  padding: 40px;
  height: 90%;
  width: 70%;
  border-radius: 20px;
  background-color: #2c3d23;
}

.input {
  margin-top: 3px;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  height: 10%;
  border: 0px;
  border-radius: 10px;
  border: 2px solid #3c4b33;
  background-color: #3c4b33;
  color: #daa41b;
}

#comment {
  height: 30%;
  resize: none;
}

.formButton {
  background-color: #3c4b33;
  color: #e9c770;
  border: 2px solid #3c4b33;
  border-radius: 10px;
  padding: 5px;
  width: 20%;
  height: 7%;
}

.formButton:hover {
  border: 2px solid #e9c770;
}

#clear {
  float: right;
}

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #2c3d23;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #daa41b;
  height: 5px;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e9c770;
  cursor: pointer;
}
