@media only screen and (max-width: 992px) {
    /*#carouselExample {
        width: 95% !important;
    } */ 
    
}

* {
    font-family: "Wix Madefor Text", sans-serif !important;
    font-weight: 700 !important;
}
  
html,
body {
    height: 100%; /* Set height for html and body */
}
  
body {
    background-color: #3c4b33 !important;
}

#carousel {
    width: 100%;
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
}

#carouselExample {
    width: 70%;
    height: 90%;
    border: 20px solid #2c3d23;
    border-radius: 10px;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    height: 100%;
    object-fit: fill !important;
}

.container {
    color: #e9c770 !important;
}
  
.navbar {
    --bs-navbar-color: #daa41b !important;
    --bs-navbar-active-color: #e9c770 !important;
    --bs-navbar-hover-color: #e9c770 !important;
    --bs-navbar-toggler-border-color: #e9c770 !important;
    background-color: #2c3d23;
    font-weight: 600;
}
  
.navbar-toggler {
    background-color: #e9c770 !important;
}
  
.navbar-brand {
    color: #e9c770 !important;
}

/* width */
::-webkit-scrollbar {
    width: 9px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #2c3d23;
    border-radius: 0px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #daa41b;
    height: 5px;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e9c770;
    cursor: pointer;
  }

  