@media only screen and (max-width: 992px) {
  .tablet {
    margin-top: 70px;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tablet p{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  #formBox {
    width: 80% !important;
  }

  #formMainTitle {
    font-size: 30px !important;
    margin-top: 20px !important;
  }

  #formSecondaryTitle {
    font-size: 20px !important;
  }

  .radioBlock {
    display: block !important;
  }

  .formButton {
    width: 45% !important;
  }  

  .row {
    display: none !important;
  }
}

* {
  font-family: "Wix Madefor Text", sans-serif !important;
  font-weight: 700 !important;
}

body {
  background-color: #3c4b33 !important;
  width: 100%;
}

.tablet {
  width: 100%;
  display: none;
}

.tablet img {
  width: 90%;
  margin-bottom: 15px;
}

.tablet p {
  color: #e9c770;
  width: 85%;
}

img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  border: 3px solid #daa41b;
  transition: 1s ease;
}

img:hover {
  scale: 1.01;
  border-color: #e9c770;
}

.text {
  color: #e9c770;
  font-size: 30px;
}

.row {
  margin-top: 70px !important;
  margin-bottom: 100px !important;
  align-items: center;
}

.container {
  color: #e9c770 !important;
}

.navbar {
  --bs-navbar-color: #daa41b !important;
  --bs-navbar-active-color: #e9c770 !important;
  --bs-navbar-hover-color: #e9c770 !important;
  --bs-navbar-toggler-border-color: #e9c770 !important;
  background-color: #2c3d23;
  font-weight: 600;
}

.navbar-toggler {
  background-color: #e9c770 !important;
}

.navbar-brand {
  color: #e9c770 !important;
}

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #2c3d23;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #daa41b;
  height: 5px;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e9c770;
}

#formMainTitle {
  text-align: center;
  font-size: 50px;
  color: #e9c770;
  margin-top: 150px;
  margin-bottom: 10px;
}

#formSecondaryTitle {
  text-align: center;
  font-size: 30px;
  color: #e9c770;
  margin-bottom: 50px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93%;
  width: 100%;
  color: #e9c770;
  margin-bottom: 70px;
  font-size: larger;
}

#formBox {
  padding: 40px;
  width: 60%;
  border-radius: 20px;
  background-color: #2c3d23;
}

.input {
  margin-top: 3px;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  height: 10%;
  border: 0px;
  border-radius: 10px;
  background-color: #3c4b33;
  color: #daa41b;
}

.labelRadio {
  margin-right: 30px;
  color: #daa41b;
}

.radioBlock {
  display: inline;
}

#quote {
  margin-bottom: 20px;
  display: none;
  color: #daa41b;
}

#quotaion {
  font-size: larger;
  color: #e9c770;
}

#comment {
  height: 30%;
  resize: none;
}

.formButton {
  background-color: #3c4b33;
  color: #e9c770;
  border: 2px solid #3c4b33;
  border-radius: 10px;
  padding: 5px;
  width: 25%;
  height: 10%;
}

.formButton:hover {
  border: 2px solid #e9c770;
}

#clear {
  float: right;
}
